@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Poppins', sans-serif;
  --clr-bp-green: #003C18;
  --clr-bp-vibe: #039200;
  --clr-white-smoke: #f5f5f5ff;
  --clr-orange-plum: #FC3E39;
  --clr-icpnl-red: #E72434;
  --clr-pepper: #222
}

html {
  scroll-behavior: smooth;
  background-color: var(--clr-white-smoke);
  font-family: var(--font-family);
}

::selection {
  background: var(--clr-icpnl-red);
  color: var(--clr-white-smoke)
}

.not-selectable {
  user-select: none;
}

.text-brand-news {
  color: var(--clr-bp-vibe)
}

.text-brand-link {
  color: var(--clr-pepper);
  text-decoration: underline;
  transition: text-decoration 0.3s ease-in-out;
}

.text-brand-link:hover {
  cursor: pointer;
}

.fade-in {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.custom-arrow {
  position: absolute;
  max-width: 10vh;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 10;
  opacity: 85%;
}

@media (max-width: 768px) {
  .custom-arrow {
    position: absolute;
    max-width: 10vw;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 10;
    opacity: 75%;
  }
}

.custom-prev-arrow {
  left: 1%;
}

.custom-next-arrow {
  right: 1%;
}

.margin-custom {
  margin-right: 2vw;
}

@media (min-width: 768px) {
  .margin-custom {
    margin-right: 1.5vw;
  }
}

@media (min-width: 1024px) {
  .margin-custom {
    margin-right: 1vw;
  }
}

.text-custom {
  font-size: 1.3vh;
}

@media (min-width: 768px) {
  .text-custom {
    font-size: 1.5vw;
  }
}

@media (min-width: 1024px) {
  .text-custom {
    font-size: 1vw;
  }
}

tr {
  height: auto;
}

td:first-child {
  width: 60%;
  padding-right: 4vw;
  padding-bottom: 2vh;
}

td:not(:first-child) {
  width: 20%;
  text-align: end;
}

td:last-child {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  padding-left: 12px;
}